<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink=".." class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink=".." class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold">
      Activity List
    </a>
  </div>
</nav>

<div class="container">
  <!--<ul class="list-group cl-list-group-borderless">-->
    <!--<li *ngFor = "let activity of activities" class="list-group-item cl-list-item-borderless">-->
      <!--<a routerLink="{{activity._id}}">{{activity.name}}</a>-->
      <!--<div class="pull-right">-->
        <!--<div *ngIf="activity.players === undefined; then nobody else somebody"></div>-->
        <!--<ng-template #nobody>0/{{activity.capacity}}</ng-template>-->
        <!--<ng-template #somebody>{{activity.players.length}}/{{activity.capacity}}</ng-template>-->
      <!--</div>-->
    <!--</li>-->
  <!--</ul>-->
  <table class="table table-hover table-striped">
    <tr>
      <th>Activity Name</th>
      <th>Schedule</th>
      <th>Location</th>
      <th>description</th>
      <th>participants</th>
    </tr>

    <tr *ngFor="let activity of activities">
      <td>
        <a routerLink="{{activity._id}}">{{activity.name}}</a>
      </td>
      <td>{{activity.schedule}}</td>
      <td>{{activity.location}}</td>
      <td>{{activity.description}}</td>
      <td>
        <div *ngIf="activity.players === undefined; then nobody else somebody"></div>
        <ng-template #nobody>0/{{activity.capacity}}</ng-template>
        <ng-template #somebody>{{activity.players.length}}/{{activity.capacity}}</ng-template>
      </td>
    </tr>
  </table>
</div>

