<div class="container">
  <h2>Register as a fan</h2>
  <input [(ngModel)]="username" type="text"
         class="form-control"
         placeholder="username"/>
  <input [(ngModel)]="password" type="text"
         class="form-control"
         placeholder="password"/>
  <input [(ngModel)]="passVal" type="text"
         class="form-control"
         placeholder="very password"/>
  <input [(ngModel)]="email" type="text"
         class="form-control"
         placeholder="email"/>
  <input [(ngModel)]="phone" type="text"
         class="form-control"
         placeholder="phone"/>
  <input [(ngModel)]="firstName" type="text"
         class="form-control"
         placeholder="firstName"/>
  <input [(ngModel)]="lastName" type="text"
         class="form-control"
         placeholder="lastName"/>

  <button class="btn btn-primary btn-block"
          (click)="register(username, password, passVal, email, phone, firstName, lastName)">Register</button>
  <a class="btn btn-danger  btn-block"
     routerLink="/login">Cancel</a>

</div>
