<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left"></div>
    <div class="navbar-text pull-right">
      <a routerLink="edit" class="btn btn-success">Edit Profile</a>
      <a routerLink="/login" class="btn btn-danger">Logout</a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold">
      My Profile
    </a>
  </div>
</nav>

<div class="container">
  <h3>Favorite Activities</h3>
  <table class="table table-hover table-striped">
    <tr>
      <th>Activity Name</th>
      <th>Schedule</th>
      <th>Location</th>
      <th>description</th>
      <th>participants</th>
      <th></th>
    </tr>

    <tr *ngFor="let activity of user.activities">
      <td>
        <a routerLink="activity/{{activity._id}}">{{activity.name}}</a>
      </td>
      <td>{{activity.schedule}}</td>
      <td>{{activity.location}}</td>
      <td>{{activity.description}}</td>
      <td>
        <div *ngIf="activity.players === undefined; then nobody else somebody"></div>
        <ng-template #nobody>0/{{activity.capacity}}</ng-template>
        <ng-template #somebody>{{activity.players.length}}/{{activity.capacity}}</ng-template>
      </td>
      <td>
        <span class="glyphicon glyphicon-remove" style="cursor: pointer" (click)="removeActivity(user._id, activity._id)"></span>
      </td>
    </tr>
  </table>
  <button class="btn btn-primary" routerLink="activity">See All the Activities</button>
</div>


