<div class="container">

  <nav class="navbar navbar-fixed-top cl-blue-navbar">
    <a class="cl-text-white navbar-brand cl-text-bold" href="#">
      Profile
    </a>
  </nav>

  <div class="form-group">
    <label for="activity-name">Name</label>
    <input [(ngModel)]="activity.name" type="text" class="form-control"  id="activity-name" placeholder={{activity.name}}>
  </div>
  <div class="form-group">
    <label for="activity-schedule">Schedule</label>
    <input [(ngModel)]="activity.schedule" type="text" class="form-control" id="activity-schedule" placeholder={{activity.schedule}}>
  </div>
  <div class="form-group">
    <label for="activity-location">Location</label>
    <input [(ngModel)]="activity.location" type="text" class="form-control" id="activity-location" placeholder={{activity.location}}>
  </div>
  <div class="form-group">
    <label for="activity-capacity">Capacity</label>
    <input [(ngModel)]="activity.capacity" type="number" class="form-control" id="activity-capacity" placeholder={{activity.capacity}}>
  </div>
  <div class="form-group">
    <label for="activity-description">Description</label>
    <input [(ngModel)]="activity.description" type="text" class="form-control" id="activity-description" placeholder={{activity.description}}>
  </div>

  <button class="btn btn-success btn-block" (click)="updateActivity(activity)">Update</button>
  <button class="btn btn-danger btn-block" (click)="deleteActivity(activity._id)">Delete</button>
  <a class="btn btn-primary btn-block" [routerLink]="['../..']">Activity List</a>
</div>
